<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Superheros</title>
    <link rel="stylesheet" href="hero.css">
</head>
<body>
    <h2>Superhero Project</h2>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About Page</a>
        <a href="/batman">Batman</a>
        <a href="/cap">Captain America</a>
        <a href="/barton">Hawkeye</a>
        <a href="/hulk">Hulk</a>
        <a href="/deadshot">Deadshot</a>
    </nav>
    <p>
        <img src="/static/images/{{hero}}.jpg" alt="{{ hero }}">
    </p>
</body>
</html>





