{% extends 'page_theme.html' %}

{% block main %}

    
    <h2>Hero Card View</h2>
<!--    <a href="hero_list">Hero List</a>-->

    <main class="bg-dark">
    <div class="container">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                       <h2>Batman Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Batman is the main hero of Gotham City, He is one of the coolest superheros out there
                       mainly because he has no powers. He relies on his gadgets and his intellect. He has an extremely
                       large amount of enemies that he fights with and might even be the superhero who has the most enemies.  </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-success text-light">
                       <h2>Hulk Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Hulk has to be one of the strongest heroes in all of the Marvel universe. He is known to 
                       have quite the temper and fight a few of the other Avengers. </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-secondary text-light">
                       <h2>Hawkeye Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Hawkeye is essentially just a guy with a bow and arrow. He's pretty cool, and somehwat of a 
                       normal hero. He has no special powers, he is just really skilled with his bow. </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-danger text-light">
                       <h2>Captain America Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Cap is known for being "The First Avenger" and has got to be one of the coolest avengers out there. 
                       He has been in a total of seven Marvel movies and has to be one of the most loved characters among Marvel
                       fans.  </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header bg-warning text-light">
                       <h2>Deadshot Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Deadshot is not a hero, but he is one of Batman's coolest enemies. Deadshot is like Hawkeye in a way, however he uses guns rather than a bow and arrow. I think that Deadshot is the best shot in the DC universe
                        and is also a member of the Suicide Squad. I believe there is a new Suicide Squad movie coming out here pretty soon. </p>
                        
                    </div>
                </div>
            </div>
        </div>


{% endblock main %}