{% extends 'page_theme.html' %}

{% load crispy_forms_tags %}

{% block main %}

<!--  this class is my edid and add hero. -->
  
   <div class="container">
    
<!--# if you're edititng, you get 'edit hero' else you get 'add new hero'            -->
    
    <h1>Add New Hero</h1>
    

    <form action="" method="post">{% csrf_token %}
<!--        {{ form.as_p }}-->
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Save</button>
<!--        <input type="submit" value="Save">-->
    </form>
    </div>
    

{% endblock main %}


<!--this is a form that adds both edit and add a hero. This could also be done in two different files if you wanted to. -->