<h2>Hero Project</h2>
<head>
    <meta charset="UTF-8">
    <title>This is my main superhero page!</title>
    <header>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="{% url 'batman' %}">Batman</a>
        <a href="{% url 'cap' %}">Captain America</a>
        <a href="{% url 'barton' %}">Hawkeye</a>
        <a href="{% url 'hulk' %}">Hulk</a>
        <a href="{% url 'deadshot' %}">Deadshot</a>
    </header>
</head>


<!--
<p>
    This page is my main hero page. 
</p>
-->

<img src="/static/images/{{hero}}.jpg" alt="{{ hero }}">

