{% extends 'page_theme.html' %}

{% block main %}

    <h2>Hero Card View</h2>
<!--    <a href="hero_list">Hero List</a>-->

    <div class="container">

        <div class="container">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                       <h2>Batman Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Batman is the hero of Gotham City, sometimes he is even referred to as "The Dark Knight". </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

        <div class="container">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                       <h2>Hulk Card</h2>
                        
                    </div>
                    <div class="card-body">
                       <p>Hulk has to be one of the strongest heroes in all of the Marvel universe. He is known to 
                       have quite the temper and fight a few of the other Avengers. </p>
                        
                    </div>
                </div>
            </div>
        </div>


{% endblock main %}