{% extends 'page_theme.html' %}



{% block content %}
<main class="bg-success text-dark">
<div class="container text-center">
<h1>Home page</h1>
    <p>Welcome to my home page for BACS350!</p>
    <a href="/hero_list" class="btn btn-primary">Hero Gallery</a>
    <a href="/workshop" class="btn btn-primary">Workshop</a>
    <a href="/post_list" class="btn btn-primary">Blog</a>
    
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Superhero Home
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Welcome to my superhero project! This project demonstrates some of my favorite heroes along with who they are, their powers, and allows for you to interact with them. You can create new heros, edit current heroes, delete heroes if needed, and just admire the work that I have done for this project. Along with the heroes page, you can go checkout the workshop page where I demonstrate basic html skills that anyone can do. These skills include card views, document views, accordian views, and a few others. After that feel free to go checkout the blog which is essentially a hero news feed. It allows for users to add articles about their favorite heroes, or write about hero stories that have already happened. Thanks!  
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About This project
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        This website is mainly a website to demonstrate the different things that I can do. This was a massive learning curve for me because I have never worked with django before and I've never worked with anything out of my console before. I have learned many things while doing this project such as the importance of inheritance, how to build great templates and views, creating user registration, using html and Python code together, and so much more. I think that this is a great beginner project for new people wanting to get into the field, and you will learn many things!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          About me
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        I am currently a student at the University of Northern Colorado studying software engineering. My goal is to move in to cybersecurity or some form or aerospace engineering. I have enjoyed my time doing webdesign and learning so many tricks. This is my second semester in web design and I have really enjoyed it. I think one of my goals is to keep adding on to this website so that someday it could have much more information on it. 
    </div>
  </div>
</div>




{% endblock %}

</div>
</main>

