{% extends 'page_theme.html' %}



{% block content %}
<main class="bg-success text-dark">
<div class="container text-center">
<h1>Home page</h1>
    <p>Welcome to my home page for BACS350!</p>
    <a href="/hero_list" class="btn btn-primary">Hero Gallery</a>
    <a href="/workshop" class="btn btn-primary">Workshop</a>
    <a href="/blog" class="btn btn-primary">Blog</a>
    
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Superhero Home
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        This website is the second webiste that I have ever created. My first one was a simple webpage that just allowed for me to show what I can do with basic html, and css code. However, this website is much more sophisticated and allows for the user to do multiple things such as edit heros, delete heroes, wrtie articles about heroes, and so on.  
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About This project
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        This website is mainly a website to demonstrate the different things that I can do. This was a massive learning curve for me because I have never worked with django before and I've never worked with anything out of my console before. I have learned many things while doing this project such as the importance of inheritance, how to build great templates and views, creating user registration, using html and Python code together, and so much more. I think that this is a great beginner project for new people wanting to get into the field, and you will learn many things!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>




{% endblock %}

</div>
</main>

