
{% extends 'page_theme.html' %}

{% block main %}
   
   <h1>Heroes Gallery</h1>
   
    {% for hero in heroes %}
       
        <h2>Hero - {{ hero.name }}</h2>
        <p>
            This page shows the coolest heroes!
        </p>
        <p>
            Secret ID: {{ hero.identity }}
        </p>
        <img width = "300" src="/static/images/{{ hero.name }}.jpg "alt="{{ hero.identity }}">
        
    {% endfor %}

{% endblock main %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="unc.css">
</head>
<body>

    
    <h1>{{ title }}</h1>
    <p>List of Heroes</p>
    
    {% for h in heroes %}
    <h2>{{ h.name }}</h2>
    <p>Name: <b>{{ h.name }}</b></p>
    <p>Secret ID: <b>{{ h.identity }}</b></p>
    <p>Image: {{ h.image }}</p>
    {% endfor %}

</body>
</html>
-->






